extends ./layout


block content
    .row
        .col-md-12(style='margin-top:75px;')             
            h2.pageTitle Error Page
        .col-md-12
            .panel.panel-default
                .panel-body
                    p Something Went Wrong!!