extends ./layout


block content
    .row
        .col-md-12           
            h2.pageTitle Shipping rates
        .col-md-12
            .panel.panel-default
                .panel-heading User Details
                .panel-body