extends ./layout


block content
    .row
        .col-md-12(style='margin-top:75px;')    
            h2.pageTitle Pidge
        .col-md-12
            p.text-success Thank you for your interest in our app, your account is currently inactive. Please wait for its approval.