extends ./layout


block content
    .row
        .col-md-12           
            h2.pageTitle Pidge setting
        .col-md-12
            .panel.panel-default
                .panel-heading User Details
                .panel-body
					p Your account is activated